{% extends 'base.html' %}


{% block title %} About {% endblock title %}


{% block body %}
{% load static %}
<div class="container my-3">
    <img _ngcontent-serverapp-c44="" alt="logo" src="{% static '/home/img/3.png' %}" width="250">
    <div class="fusion-column-wrapper">
        <div class="fusion-title title fusion-title-size-two">
            <h2 class="title-heading-left" data-fontsize="18" data-lineheight="27">Welcome To Procoder
            </h2>
            <div class="title-sep-container">
                <div class="title-sep sep-double"></div>
            </div>
        </div>
        <p style="text-align: justify;"> Procoder, which is a leading IT firm, develops & implements different IT
            solutions to make your business life easier. Since our inception, we have been maintaining a sophisticated
            code of service level and standard, which drives us to achieve our clients’ trust & become their reliable
            technology partner.
            We have a strong mobile games & apps development team that is always working on developing a web app, mobile
            apps & games. Currently, we are working on some unique games & apps. We set our standards high, and then we
            aim to surpass them. We do this by investing in the continuous improvement of our products and services by
            building a team that is knowledgeable and dedicated to ensuring that we exceed the service needs of our
            customers.

            We have a wide range of experience, expertise, and tools to create and implement your campaigns, from
            carefully curating awesome content to optimize it online with our great SEO and digital marketing strategy.
            We have the combined power of data, strategy, creativity, and technology to deliver on your business
            objectives. We help to recognize your business into the connected world.

            We also work on outsourcing animation, UI & UX design, and game development. Besides that, our team members
            are experts in web development, web design & graphic design.

            We provide Technological and Functional consultancy services to our clients and execute projects on a
            turn-key basis. We offer different solutions with affordable pricing options and focus on achieving clients’
            business objectives with Oracle product set from our Oracle Cloud, E-Business Suite R12, and Customer
            Experience. Being the partner of Microsoft, we can also assist our clients’ regarding the Microsoft
            solutions. We are providing full life-cycle solutions and services for both the private and public sectors.

            Our approach is simple – we refuse to compromise when it comes to quality. Using unparalleled human
            resources, we optimize and safeguard your business processes, and turn them into a competitive edge, thus
            you can grow rapidly and consistently.
        </p>
        <h1 class="title-heading-left" data-fontsize="34" data-lineheight="48">Our Team Member</h1>
        <div class="title-sep-container">
            <div class="title-sep sep-double" style="border-color:#1e73be;"></div>
        </div>
        <div class="title-sep-container">
            <div class="title-sep sep-double"></div>
        </div>
        <div class="fusion-clearfix"></div>
    </div>
</div>
<div class="container">
    <div class="fusion-person person fusion-person-left fusion-person-icon-top">
        <div class="person-shortcode-image-wrapper">
            <div class="person-imgage-container hover-type-none"><img alt="Tasdid Hasnain "
                    class="person-img img-responsive" src="{% static '/home/img/4.png' %}" width="150">
            </div>
        </div>
        <div class="person-desc">
            <div class="person-author">
                <div class="person-author-wrapper"><span class="person-name">Tasdid Hasnain </span><br><span
                        class="person-title">Co Founder &amp; CEO</span><br>
                    <p>Email: tasdidhasnain036@gmail.com</p>
                </div>

            </div>
            <div class="person-content fusion-clearfix"></div>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="fusion-person person fusion-person-left fusion-person-icon-top">
        <div class="person-shortcode-image-wrapper">
            <div class="person-imgage-container hover-type-none"><img alt="Hasibul Islam"
                    class="person-img img-responsive" src="{% static '/home/img/1.png' %}" width="150">
            </div>
        </div>
        <div class="person-desc">
            <div class="person-author">
                <div class="person-author-wrapper"><span class="person-name">Md.Hasibul Islam</span><br><span
                        class="person-title">Co Founder &amp; CEO</span>
                    <p>Email: hasibul.syl@gmail.com</p>
                </div>


            </div>
            <div class="person-content fusion-clearfix"></div>
        </div>
    </div>
</div>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

{% endblock body %}